In [1]:
print("Hello World")

Hello World

In [2]:
print("Welcome to intership")

Welcome to intership

In [3]:
a = 10
b = 20
c = a + b
print(c)

30

In [7]:
a = 50
b = 30
c = a / b
print(c)

1.6666666666666667

In [10]:
n = 20
print(n**2)

400

In [13]:
n1 = int(input("Enter First Number:"))
n2 = int(input("Enter Second Number:"))
print(n1+n2)

30

In [14]:
side = int(input("Enter side:"))
print(side ** 2)

16

In [5]:
s = "Ramesh"
print(s[4])

s

In [7]:
s = "Today is Coding day!"
print(s[16:19])

day

In [8]:
s1 = "Vishal"
s2 = "Kumar"
s = s1+s2
print(s)

VishalKumar

In [9]:
s1 = "Hello"
s2 = "world"
s = s1+s2
print(s)

Helloworld

In [11]:
s = "hello"
print(s*5)

hellohellohellohellohello

In [13]:
age = 18
print(type(age))

<class 'int'>

In [15]:
age = str(age)
print(type(age))

<class 'str'>

In [16]:
s = "123"
print(type(s))

<class 'str'>

In [17]:
s = int(s)
print(type(s))

<class 'int'>

In [18]:
s = "today is coding day!"
s = s.upper()
print(s)

TODAY IS CODING DAY!

In [19]:
s = "WELCOME TO INTERNSHIP"
s = s.lower()
print(s)

welcome to internship

In [20]:
s = "Today Is Coding Day!"
s = s.swapcase()
print(s)

tODAY iS cODING dAY!

In [22]:
s = "today We Are Learing Python"
s = s.capitalize()
print(s)

Today we are learing python

In [23]:
s = "Manac Infotech Pvt Ltd"
print(len(s))

22

In [24]:
s = "Apple"
print(len(s))

5

In [26]:
s = "I work as a ML/AL Engineer and Educator"
print(s.count('r'))

3

In [35]:
s = "ABC"
print(s.isalpha())

True

In [36]:
s = "1234"
print(s.isdigit())

True

In [37]:
s = "abc123"
print(s.isalnum())

True

In [38]:
text = "Hello how are you?"
words = text.split()
print(words)

['Hello', 'how', 'are', 'you?']

In [39]:
text = "I Love Python"
text = text.replace("Love", "Like")
print(text)

I Like Python

In [40]:
text = "Python is Awesome"
print(text.startswith("Python"))

True

In [41]:
print(text.startswith("Java"))

False

In [ ]:
text = "Python is Awesome"
print(text.endswith("Awesome"))

True

In [43]:
print(text.endswith("Great"))

False

In [44]:
s = "today is coding day!"
s = s.title()
print(s)

Today Is Coding Day!

In [48]:
s = "   python   "
s = s.strip()
print(s)

python

In [50]:
text = "I love python Programming"
print(text.find("Pro"))

14

In [51]:
s = "abcdefgh"
print(s.index("d"))

3

In [52]:
words = ['Python', 'is', 'fun']
text = " ".join(words)
print(text)

Python is fun

In [1]:
a = 100
b = 200

if a > b:
    print("a is greater then b")

if b > a:
    print("b is greater then a")

b is greater then a

In [2]:
a = 100
b = 200

if a > b:
    print("a is greater then b")
else:
    print("b is greater then a")

b is greater then a

#### Q. Write a Program that checks if a number is positive or Negative.

In [4]:
n = -10
if n > 0:
    print("Positive Number")
else:
    print("Negative Number:")

Negative Number:

#### Q. Write a program that check if a person is eligible to vote(age >= 18).

In [6]:
age = 12
if age >= 18:
    print("You are eligible to vote:")
else:
    print("You are not eligible to vote:")

You are not eligible to vote:

##### Q. Write a program that checks if a number is even or odd.

In [9]:
n = 23

if n % 2 == 0:
    print("This number is Even:")
else:
    print("The Number is Odd")

The Number is Odd

##### Q. Write a program that check if a student has passed an exam.
1. Pass Score is 40 or above
2. Attendance is 75% and more

In [11]:
score = 23
attendance = 95

if score > 40:
    if attendance > 75:
        print("You have Passed your exam.")
else:
    print("You didn't pass.")

You didn't pass.

##### Q. Write a program that grades a student based on their marks.

In [ ]:
marks = 76
if marks >= 90:
    print("Grade A")
elif marks >= 80:
    print("Grade B")
elif marks >= 70:
    print("Grade C")
elif marks >= 60:
    print("Grade D")
elif marks >= 50:
    print("Grade E")
else:
    print("Grade F")

Grade B

#### Python Loops

In [1]:
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [2]:
i = 1
while i<=5:
    print("hello World!")
    i = i + 1

hello World!
hello World!
hello World!
hello World!
hello World!

###### Example 1: Print numbers 1 to 10

In [3]:
i = 1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

###### Example 2: Print even numbers from 1 to 10

In [5]:
i = 2
while i <= 10:
    print(i)
    i = i + 2

2
4
6
8
10

In [6]:
for i in range(10):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [10]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

###### Q. Write a Python Program, to print table of 5.

In [14]:
for i in range(1, 11):
    print(17*i)

17
34
51
68
85
102
119
136
153
170

In [17]:
nums = [2,5,3,4,7,9]
for n in nums:
    if n == 4:
        print("Element Exists")
        break
    else:
        print("Element doesn't exist")

Element doesn't exist
Element doesn't exist
Element doesn't exist
Element Exists

In [19]:
for i in range(1, 11):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [20]:
for i in range(1, 11):
    if i == 7:
        continue
    print(i)

1
2
3
4
5
6
8
9
10

###### Q39. Write a Python Program, to check if any ‘y’ is present in the “Python”

In [21]:
s = "Python"

for c in s:
    if c == "y":
        print("Character found!")
        break

Character found!

In [22]:
for i in range(1,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [27]:
11 % 2

1

In [24]:
for i in range(5):
    for j in range(5):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [9]:
import pandas as pd

data = {
    'CustomerID': [1, 2, 3, 4, 5],
    'Date_of_Purchase': ['2023-12-12', '2023-12-15', '2023-12-18', '2023-12-20', '2023-12-24'],
    'Age': [25, 35, 45, 28, 31],
    'Annual_Income': [30000, 50000, 80000, 40000, 60000],
    'Purchase_Amount': [12000, 18000, 50000, 15000, 25000]
}

df = pd.DataFrame(data)
df['Date_of_Purchase'] = pd.to_datetime(df['Date_of_Purchase'])
df

   CustomerID Date_of_Purchase  Age  Annual_Income  Purchase_Amount
0           1       2023-12-12   25          30000            12000
1           2       2023-12-15   35          50000            18000
2           3       2023-12-18   45          80000            50000
3           4       2023-12-20   28          40000            15000
4           5       2023-12-24   31          60000            25000

In [10]:
df['Income_Category'] = pd.cut(df['Annual_Income'],
                               bins=[0, 40000, 70000, 100000],
                               labels=['Low', 'Medium', 'High'])
df[['Annual_Income', 'Income_Category']]

   Annual_Income Income_Category
0          30000             Low
1          50000          Medium
2          80000            High
3          40000             Low
4          60000          Medium

In [3]:
fruits = ['Apple', 'Banana', 'Orange', 'Kiwi', 'Mango', 'PineApple']
print(fruits[3])

Kiwi

In [4]:
print(fruits[2])

Orange

In [5]:
nums = [4,3,6,87,5,4,7,78]
print(nums)

[4, 3, 6, 87, 5, 4, 7, 78]

In [7]:
mix = ['one', 2, 3, 'four', 5.0, "six"]
print(mix[3])

four

In [8]:
fruits = ['Apple', 'Banana', 'Orange', 'Kiwi', 'Mango', 'PineApple']

In [10]:
print(fruits[2:5])

['Orange', 'Kiwi', 'Mango']

In [12]:
nums = [4,5,8,4,3,6,7,89,34]

print(nums[4:9])

[3, 6, 7, 89, 34]

In [13]:
fruits = ['Apple', 'Banana', 'Orange', 'Kiwi', 'Mango']
fruits[0] = "Pineapple"
print(fruits)

['Pineapple', 'Banana', 'Orange', 'Kiwi', 'Mango']

In [14]:
fruits = ['Apple', 'Banana', 'Orange', 'Kiwi', 'Mango']
fruits.append('carat')
print(fruits)

['Apple', 'Banana', 'Orange', 'Kiwi', 'Mango', 'carat']

In [15]:
fruits = ['Apple', 'Banana', 'Orange', 'Kiwi', 'Mango']
fruits.remove('Banana')
print(fruits)

['Apple', 'Orange', 'Kiwi', 'Mango']

In [16]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
fruits = ['Apple', 'Banana', 'Orange', 'Kiwi', 'Mango']
print(len(fruits))

5

In [18]:
nums = [3,4,6,4,56,45,56,6]
print(len(nums))

8

In [20]:
nums = [3,4,6,4,56,45,56,6]
print(min(nums))
print(max(nums))

3
56

In [23]:
nums[1], nums[4] = nums[4], nums[1]
print(nums)

[3, 56, 6, 4, 4, 45, 56, 6]

In [24]:
alpha = ['a','b','c','d']


alpha[0], alpha[2] = alpha[2], alpha[0]
print(alpha)

['c', 'b', 'a', 'd']

In [27]:
nums = [1,2,3,4,5,6,7,8,9,10]
print(sum(nums[5:]))

40

In [32]:
nums = [3,5,76,4,3,4,6,7,4,3,23,46,7]
print(nums.count(7))

2

In [ ]:
nums = [5,4,7,9,1,3]
print(nums.index(9))

3

In [38]:
alpha = ['a','b','c','d','e','f']
print(alpha.index("e"))

4

In [39]:
nums = [4,3,5,6,7,4,3,5,67,1,2,5,78]
nums.sort()
print(nums)

[1, 2, 3, 3, 4, 4, 5, 5, 5, 6, 7, 67, 78]

In [ ]:
nums = [4,3,5,6,7,4,3,5,67,1,2,5,78]
nums.sort(reverse=True)
print(nums)

[78, 67, 7, 6, 5, 5, 5, 4, 4, 3, 3, 2, 1]

In [41]:
nums = [4,3,5,6,7,4,3,5,67,1,2,5,78]
even_list = []
odd_list = []
for n in nums:
    if n % 2 == 0:
        even_list.append(n)
    else:
        odd_list.append(n)

print(even_list, odd_list)

[4, 6, 4, 2, 78] [3, 5, 7, 3, 5, 67, 1, 5]

In [42]:
nums = [1,2,3,4,5,6]
nums.append(7)
print(nums)

[1, 2, 3, 4, 5, 6, 7]

In [43]:
nums = [1,2,3,4,5,6]
nums.insert(3, 3.5)
print(nums)

[1, 2, 3, 3.5, 4, 5, 6]

In [44]:
fruits = ['Apple', 'Banana', 'Orange', 'Kiwi', 'Mango']
fruits.insert(2, "PineApple")
print(fruits)

['Apple', 'Banana', 'PineApple', 'Orange', 'Kiwi', 'Mango']

In [45]:
alpha = ['a','b','c','d','e','c']
alpha.remove("c")
print(alpha)

['a', 'b', 'd', 'e', 'c']

In [1]:
alpha = ['a',
        'b',
        'c',
        'd',
        'e',
        'c']
alpha.pop(5)
print(alpha)

['a', 'b', 'c', 'd', 'e']

### Tuple

In [1]:
t1 = (10,20,10)
t2 = ("Arjun", "Priya", "Neha", "Vishal")
t3 = (1, "Python", 3.5, False)

In [2]:
print(t1)

(10, 20, 10)

In [3]:
t1 = (10,20,30)
print(t1)

(10, 20, 30)

In [4]:
t1 = (10)
print(type(t1))

<class 'int'>

In [5]:
t1 = (10,)
print(type(t1))

<class 'tuple'>

In [6]:
t1 = (10,20,30,40,50)
print(t1[2])

30

In [7]:
print(t1[1:4])

(20, 30, 40)

In [9]:
t1 = (10,20,30,40,50)
t1[1] = 200 # error because of tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [10]:
t1 = (10,20,20,30,20,40,50)
print(t1.count(20))

3

In [12]:
print(t1.index(10))

0

In [15]:
print(min(t1))
print(max(t1))

10
50

In [18]:
print(len(t1))

5

In [16]:
t1 = (10,20,30,40,50)
for item in t1:
    print(item)

10
20
30
40
50

### Set

In [21]:
nums = {10,20,30,40,50,50,50,50}
print(nums)

{50, 20, 40, 10, 30}

In [23]:
n = [10,2,3,4,6,45,3,4,56,4]
list(set(n))

[2, 3, 4, 6, 10, 45, 56]

In [26]:
s = {1,2,3,4,5,6,7,8,9}
s.add(9)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
s = {1,2,3,4,5,6,7,8,9}
s.remove(3)
print(s)

{1, 2, 4, 5, 6, 7, 8, 9}

In [29]:
s = {1,2,3,4,5,6,7,8,9}
s.discard(5)
print(s)

{1, 2, 3, 4, 6, 7, 8, 9}

In [31]:
s = {1,2,3,4,5,6,7,8,9}
s.discard(30)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
A = {1,2,3,4}
B = {3,4,5,6}

{1, 2, 3, 4, 5, 6}

In [34]:
print(A | B)
print(A.union(B))

{1, 2, 3, 4, 5, 6}

In [36]:
A = {1,2,3,4}
B = {3,4,5,6}

print(A & B)
print(A.intersection(B))

{3, 4}
{3, 4}

In [38]:
A = {1,2,3,4}
B = {3,4,5,6}

print(A-B)
print(B-A)

{1, 2}
{5, 6}

In [40]:
print(A ^ B)

{1, 2, 5, 6}

In [48]:
student = {
    'name' : ['Vishal'],
    'age' : [31],
    'address' : ['HYD'],
    'mobile'  : [9876543210],
    'edu' : ['Master'],
    'marks' : [99]
}
print(student)

{'name': ['Vishal'], 'age': [31], 'address': ['HYD'], 'mobile': [9876543210], 'edu': ['Master'], 'marks': [99]}

In [49]:
import pandas as pd
df = pd.DataFrame(student)
df

     name  age address      mobile     edu  marks
0  Vishal   31     HYD  9876543210  Master     99

In [45]:
list1 = [10,20,30,40]
list2 = ['a','b','c','d']
list3 = list1 + list2
print(list3)

[10, 20, 30, 40, 'a', 'b', 'c', 'd']

In [ ]:
list1 = [10,20,30,40]
list2 = ['a','b','c','d']
list1.extend(list2)
print(list1)

[10, 20, 30, 40, 'a', 'b', 'c', 'd']