In [1]:
print("Hello World")

Hello World

In [2]:
print("Welcome to intership")

Welcome to intership

In [3]:
a = 10
b = 20
c = a + b
print(c)

30

In [7]:
a = 50
b = 30
c = a / b
print(c)

1.6666666666666667

In [10]:
n = 20
print(n**2)

400

In [13]:
n1 = int(input("Enter First Number:"))
n2 = int(input("Enter Second Number:"))
print(n1+n2)

30

In [14]:
side = int(input("Enter side:"))
print(side ** 2)

16

In [5]:
s = "Ramesh"
print(s[4])

s

In [7]:
s = "Today is Coding day!"
print(s[16:19])

day

In [8]:
s1 = "Vishal"
s2 = "Kumar"
s = s1+s2
print(s)

VishalKumar

In [9]:
s1 = "Hello"
s2 = "world"
s = s1+s2
print(s)

Helloworld

In [11]:
s = "hello"
print(s*5)

hellohellohellohellohello

In [13]:
age = 18
print(type(age))

<class 'int'>

In [15]:
age = str(age)
print(type(age))

<class 'str'>

In [16]:
s = "123"
print(type(s))

<class 'str'>

In [17]:
s = int(s)
print(type(s))

<class 'int'>

In [18]:
s = "today is coding day!"
s = s.upper()
print(s)

TODAY IS CODING DAY!

In [19]:
s = "WELCOME TO INTERNSHIP"
s = s.lower()
print(s)

welcome to internship

In [20]:
s = "Today Is Coding Day!"
s = s.swapcase()
print(s)

tODAY iS cODING dAY!

In [22]:
s = "today We Are Learing Python"
s = s.capitalize()
print(s)

Today we are learing python

In [23]:
s = "Manac Infotech Pvt Ltd"
print(len(s))

22

In [24]:
s = "Apple"
print(len(s))

5

In [26]:
s = "I work as a ML/AL Engineer and Educator"
print(s.count('r'))

3

In [35]:
s = "ABC"
print(s.isalpha())

True

In [36]:
s = "1234"
print(s.isdigit())

True

In [37]:
s = "abc123"
print(s.isalnum())

True

In [38]:
text = "Hello how are you?"
words = text.split()
print(words)

['Hello', 'how', 'are', 'you?']

In [39]:
text = "I Love Python"
text = text.replace("Love", "Like")
print(text)

I Like Python

In [40]:
text = "Python is Awesome"
print(text.startswith("Python"))

True

In [41]:
print(text.startswith("Java"))

False

In [ ]:
text = "Python is Awesome"
print(text.endswith("Awesome"))

True

In [43]:
print(text.endswith("Great"))

False

In [44]:
s = "today is coding day!"
s = s.title()
print(s)

Today Is Coding Day!

In [48]:
s = "   python   "
s = s.strip()
print(s)

python

In [50]:
text = "I love python Programming"
print(text.find("Pro"))

14

In [51]:
s = "abcdefgh"
print(s.index("d"))

3

In [52]:
words = ['Python', 'is', 'fun']
text = " ".join(words)
print(text)

Python is fun

In [1]:
a = 100
b = 200

if a > b:
    print("a is greater then b")

if b > a:
    print("b is greater then a")

b is greater then a

In [2]:
a = 100
b = 200

if a > b:
    print("a is greater then b")
else:
    print("b is greater then a")

b is greater then a

#### Q. Write a Program that checks if a number is positive or Negative.

In [4]:
n = -10
if n > 0:
    print("Positive Number")
else:
    print("Negative Number:")

Negative Number:

#### Q. Write a program that check if a person is eligible to vote(age >= 18).

In [6]:
age = 12
if age >= 18:
    print("You are eligible to vote:")
else:
    print("You are not eligible to vote:")

You are not eligible to vote:

##### Q. Write a program that checks if a number is even or odd.

In [9]:
n = 23

if n % 2 == 0:
    print("This number is Even:")
else:
    print("The Number is Odd")

The Number is Odd

##### Q. Write a program that check if a student has passed an exam.
1. Pass Score is 40 or above
2. Attendance is 75% and more

In [11]:
score = 23
attendance = 95

if score > 40:
    if attendance > 75:
        print("You have Passed your exam.")
else:
    print("You didn't pass.")

You didn't pass.

##### Q. Write a program that grades a student based on their marks.

In [ ]:
marks = 76
if marks >= 90:
    print("Grade A")
elif marks >= 80:
    print("Grade B")
elif marks >= 70:
    print("Grade C")
elif marks >= 60:
    print("Grade D")
elif marks >= 50:
    print("Grade E")
else:
    print("Grade F")

Grade B

#### Python Loops

In [1]:
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [2]:
i = 1
while i<=5:
    print("hello World!")
    i = i + 1

hello World!
hello World!
hello World!
hello World!
hello World!

###### Example 1: Print numbers 1 to 10

In [3]:
i = 1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

###### Example 2: Print even numbers from 1 to 10

In [5]:
i = 2
while i <= 10:
    print(i)
    i = i + 2

2
4
6
8
10

In [6]:
for i in range(10):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [10]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

###### Q. Write a Python Program, to print table of 5.

In [14]:
for i in range(1, 11):
    print(17*i)

17
34
51
68
85
102
119
136
153
170

In [17]:
nums = [2,5,3,4,7,9]
for n in nums:
    if n == 4:
        print("Element Exists")
        break
    else:
        print("Element doesn't exist")

Element doesn't exist
Element doesn't exist
Element doesn't exist
Element Exists

In [19]:
for i in range(1, 11):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [20]:
for i in range(1, 11):
    if i == 7:
        continue
    print(i)

1
2
3
4
5
6
8
9
10

###### Q39. Write a Python Program, to check if any ‘y’ is present in the “Python”

In [21]:
s = "Python"

for c in s:
    if c == "y":
        print("Character found!")
        break

Character found!

In [22]:
for i in range(1,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [27]:
11 % 2

1

In [24]:
for i in range(5):
    for j in range(5):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4